@{
    ViewBag.Title = "About";
}


<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Spot On Sepia </title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/media/favicon.png">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/vendor/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/vendor/slick.css" rel="stylesheet" />
    <link href="~/Content/css/vendor/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/css/vendor/sal.css" rel="stylesheet" />
    <link href="~/Content/css/vendor/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/css/vendor/green-audio-player.min.css" rel="stylesheet" />
    <link href="~/Content/css/vendor/odometer-theme-default.css" rel="stylesheet" />




    <!-- Site Stylesheet -->
    <link href="~/Content/css/app.css" rel="stylesheet" />

</head>
<body>
   
    <!--=====================================-->
    <!--=       Breadcrumb Area Start       =-->
    <!--=====================================-->
    <div class="breadcrum-area breadcrumb-banner">
        <div class="container">
            <div class="section-heading heading-left" data-sal="slide-right" data-sal-duration="1000" data-sal-delay="300">
                <h1 class="title h2">One of the fastest growing agency</h1>
                <p>We are giving Creative Digital Services.</p>
            </div>
            <div class="banner-thumbnail thumbnail-4" data-sal="slide-up" data-sal-duration="1000" data-sal-delay="400">
                <img src="~/Content/media/banner/banner-thumb-3.png" alt="Illustration">

               
            </div>
        </div>
        <ul class="shape-group-8 list-unstyled">
            <li class="shape shape-1" data-sal="slide-right" data-sal-duration="500" data-sal-delay="100">
                <img src="~/Content/media/others/bubble-9.png" alt="Bubble">
               
            </li>
            <li class="shape shape-2" data-sal="slide-left" data-sal-duration="500" data-sal-delay="200">
                <img src="~/Content/media/others/bubble-22.png" alt="Bubble">
              
            </li>
            <li class="shape shape-3" data-sal="slide-up" data-sal-duration="500" data-sal-delay="300">
                <img  src="~/Content/media/others/line-4.png" alt="Line">

            </li>
        </ul>
    </div>
    <!--=====================================-->
    <!--=       About  Area Start        =-->
    <!--=====================================-->
    <section class="section section-padding case-study-featured-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-6">
                    <div class="case-study-featured-thumb text-start">

                        
                        <img  src="~/Content/media/others/case-study-4.png"alt="travel">
                    </div>
                </div>
                <div class="col-xl-5 col-lg-6">
                    <div class="case-study-featured">
                        <div class="section-heading heading-left">
                            <span class="subtitle">Who we are</span>
                            <h2 class="title">We are providing digital services,</h2>
                            <p>Our idea of putting creatives to live and letting it speak as prominent as paragraphs and we aim at materializing our work that looks appealing, sounds good and engages the audiences. See how we pick content and trick design.</p>
                   
                            <a href="#" class="axil-btn btn-fill-primary btn-large">Read More</a>
                        </div>
                        <div class="case-study-counterup">
                            <div class="single-counterup">
                                <h2 class="count-number">
                                    <span class="number count" data-count="10">10</span>
                                    <span class="symbol">+</span>
                                </h2>
                                <span class="counter-title">Years on the market</span>
                            </div>
                            <div class="single-counterup">
                                <h2 class="count-number">
                                    <span class="number count" data-count="1500">1500</span>
                                    <span class="symbol">+</span>
                                </h2>
                                <span class="counter-title">Projects delivered so far</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--=====================================-->
    <!--=      About  Quality Area Start    =-->
    <!--=====================================-->
    <section class="section section-padding bg-color-dark pb--80 pb_lg--40 pb_md--20">
        <div class="container">
            <div class="section-heading heading-light-left mb--100">
                <span class="subtitle">Our Valus</span>
                <h2 class="title">Why should you Choose us?</h2>
                <p class="opacity-50">
                   Because we are giving you amazing services 
                    which help you alot in your work.
                </p>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="about-quality active">
                        <h3 class="sl-number">1</h3>
                        <h5 class="title">RESUME</h5>
                       
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-quality">
                        <h3 class="sl-number">2</h3>
                        <h5 class="title">
                            GRAPHIC DESIGNING
                        </h5>
                       
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-quality">
                        <h3 class="sl-number">3</h3>
                        <h5 class="title">LOGO DESIGN</h5>
                        
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="about-quality">
                        <h3 class="sl-number">4</h3>
                        <h5 class="title">WALLPAPER ORGANIZER </h5>
                       
                    </div>
                </div>
                @*<div class="col-lg-4">
                    <div class="about-quality">
                        <h3 class="sl-number">5</h3>
                        <h5 class="title"</h5>
                        
                    </div>
                </div>*@
            </div>
        </div>
        <ul class="list-unstyled shape-group-10">


            <li class="shape shape-1"><img src="~/Content/media/others/circle-1.png" alt="Circle"></li>
            <li class="shape shape-2"><img src="~/Content/media/others/line-3.png" alt="Circle"></li>
            <li class="shape shape-3"><img src="~/Content/media/others/bubble-5.png" alt="Circle"></li>
        </ul>
    </section>
    <!--=====================================-->
    <!--=       About Team  Area Start      =-->
    <!--=====================================-->
    <section class="section-padding-equal">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-7" data-sal="slide-right" data-sal-duration="800" data-sal-delay="100">
                    <div class="about-team">
                        <div class="thumbnail">

                            <img src="~/Content/media/about/about-2.png" alt="thumbnail" />
                        </div>
                    </div>
                </div>
                <div class="col-lg-5" data-sal="slide-left" data-sal-duration="800" data-sal-delay="100">
                    <div class="about-team">
                        <div class="section-heading heading-left">
                            <span class="subtitle">Our Team</span>
                            <h2>Alone we can do so little; together we can do so much.</h2>
                            <p>Our team does the competitor research so that our ideas don’t clash with any existing campaigns and should stand unique in the market.</p>
                            <a href="team.html" class="axil-btn btn-large btn-fill-primary">Our Team</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--=====================================-->
    <!--=       Work Process Area Start     =-->
    <!--=====================================-->
    @*<section class="section section-padding bg-color-light pb--70">
        <div class="container">
            <div class="section-heading mb--90">
                <span class="subtitle">Process</span>
                <h2 class="title">Our logo design process</h2>
                <p>Our comprehensive logo design strategy ensures a perfectly crafted logo for your business.</p>
            </div>
            <div class="process-work" data-sal="slide-right" data-sal-duration="1000" data-sal-delay="100">
                <div class="thumbnail paralax-image">

                    <img src="~/Content/media/others/process-1.png" alt="Thumbnail" />
                </div>
                <div class="content">
                    <span class="subtitle">Step One</span>
                    <h3 class="title">Discover</h3>
                    <p>Donec metus lorem, vulputate at sapien sit amet, auctor iaculis lorem. In vel hendrerit nisi. Vestibulum eget risus velit. Aliquam tristique libero at dui sodales, et placerat orci lobortis. Maecenas ipsum neque, elementum id dignissim et, imperdiet vitae mauris.</p>
                </div>
            </div>
            <div class="process-work content-reverse" data-sal="slide-left" data-sal-duration="1000" data-sal-delay="100">
                <div class="thumbnail paralax-image">

                    <img src="~/Content/media/others/process-2.png" alt="Thumbnail" />

                </div>
                <div class="content">
                    <span class="subtitle">Step Two</span>
                    <h3 class="title">Prototype</h3>
                    <p>Donec metus lorem, vulputate at sapien sit amet, auctor iaculis lorem. In vel hendrerit nisi. Vestibulum eget risus velit. Aliquam tristique libero at dui sodales, et placerat orci lobortis. Maecenas ipsum neque, elementum id dignissim et, imperdiet vitae mauris.</p>
                </div>
            </div>
            <div class="process-work" data-sal="slide-right" data-sal-duration="1000" data-sal-delay="100">
                <div class="thumbnail paralax-image">
                    <img src="~/Content/media/others/process-3.png" alt="Thumbnail" />
                </div>
                <div class="content">
                    <span class="subtitle">Step Three</span>
                    <h3 class="title">Test</h3>
                    <p>Donec metus lorem, vulputate at sapien sit amet, auctor iaculis lorem. In vel hendrerit nisi. Vestibulum eget risus velit. Aliquam tristique libero at dui sodales, et placerat orci lobortis. Maecenas ipsum neque, elementum id dignissim et, imperdiet vitae mauris.</p>
                </div>
            </div>
            <div class="process-work content-reverse" data-sal="slide-left" data-sal-duration="1000" data-sal-delay="100">
                <div class="thumbnail paralax-image">

                    <img src="~/Content/media/others/process-4.png" alt="Thumbnail" />
                </div>
                <div class="content">
                    <span class="subtitle">Step four</span>
                    <h3 class="title">Build</h3>
                    <p>Donec metus lorem, vulputate at sapien sit amet, auctor iaculis lorem. In vel hendrerit nisi. Vestibulum eget risus velit. Aliquam tristique libero at dui sodales, et placerat orci lobortis. Maecenas ipsum neque, elementum id dignissim et, imperdiet vitae mauris.</p>
                </div>
            </div>
        </div>
        <ul class="shape-group-17 list-unstyled">
            <li class="shape shape-1"><img src="~/Content/media/others/bubble-24.png" alt="Bubble"></li>
           
           
            <li class="shape shape-2"><img src="~/Content/media/others/bubble-23.png" alt="Bubble"></li>
          
            <li class="shape shape-3"><img src="~/Content/media/others/line-4.png" alt="Line"></li>
            <li class="shape shape-4"><img src="~/Content/media/others/line-5.png" alt="Line"></li>
            <li class="shape shape-5"><img src="~/Content/media/others/line-4.png" alt="Line"></li>
            <li class="shape shape-6"><img src="~/Content/media/others/line-5.png" alt="Line"></li>
        </ul>
    </section>*@
    <!--=====================================-->
    <!--=     Call To Action Area Start     =-->
    <!--=====================================-->
    <section class="section call-to-action-area">
        <div class="container">
            <div class="call-to-action">
                <div class="section-heading heading-light">
                    <span class="subtitle">Let's Work Together</span>
                    <h2 class="title">Need a successful project?</h2>
                    <a href="contact.html" class="axil-btn btn-large btn-fill-white">Estimate Project</a>
                </div>
                <div class="thumbnail">
                    <div class="larg-thumb" data-sal="zoom-in" data-sal-duration="600" data-sal-delay="100">
                        <img class="paralax-image" src="~/Content/media/others/chat-group.png" alt="Chat">

                    </div>
                    <ul class="list-unstyled small-thumb">
                        <li class="shape shape-1" data-sal="slide-right" data-sal-duration="800" data-sal-delay="400">
                            <img class="paralax-image" src="~/Content/media/others/laptop-poses.png" alt="Laptop">


                        </li>
                        <li class="shape shape-2" data-sal="slide-left" data-sal-duration="800" data-sal-delay="300">
                            <img class="paralax-image" src="~/Content/media/others/bill-pay.png" alt="Bill">

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <ul class="list-unstyled shape-group-9">
            <li class="shape shape-1"><img src="~/Content/media/others/bubble-12.png" alt="Comments"></li>
            <li class="shape shape-2"><img src="~/Content/media/others/bubble-16.png" alt="Comments"></li>
            <li class="shape shape-3"><img src="~/Content/media/others/bubble-13.png" alt="Comments"></li>
            <li class="shape shape-4"><img src="~/Content/media/others/bubble-14.png" alt="Comments"></li>
            <li class="shape shape-5"><img src="~/Content/media/others/bubble-16.png" alt="Comments"></li>
            <li class="shape shape-6"><img src="~/Content/media/others/bubble-15.png" alt="Comments"></li>
            <li class="shape shape-7"><img src="~/Content/media/others/bubble-16.png" alt="Comments"></li>
        </ul>
    </section>
    @*<script src="~/Content/js/vendor/bootstrap.min.js"></script>*@
    <script src="~/Scripts/vendor/bootstrap.min.js"></script>

    @*<script src="assets/js/vendor/jquery-3.6.0.min.js"></script>*@

    <script src="~/Scripts/vendor/jquery-3.6.0.min.js"></script>

    <script src="~/Scripts/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="~/Scripts/vendor/isotope.pkgd.min.js"></script>
    <script src="~/Scripts/vendor/green-audio-player.min.js"></script>
    <script src="~/Scripts/vendor/odometer.min.js"></script>
    <script src="~/Scripts/vendor/jquery-appear.js"></script>
    <script src="~/Scripts/vendor/slick.min.js"></script>
    <script src="~/Scripts/vendor/sal.js"></script>
    <script src="~/Scripts/vendor/jquery.magnific-popup.min.js"></script>
    <script src="~/Scripts/vendor/js.cookie.js"></script>
    <script src="~/Scripts/vendor/jquery.style.switcher.js"></script>
    <script src="~/Scripts/vendor/tilt.js"></script>
    <script src="~/Scripts/vendor/jquery.countdown.min.js"></script>
    <script src="~/Scripts/vendor/jquery.nav.js"></script>

    <!-- Site Scripts -->

    <script src="~/Content/js/app.js"></script>
</body>
</html>